{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>

<div class="about-section" style="background-image:url('/static/images/cover.jpg');height:250px; box-shadow: 8px 4px 16px 8px rgba(0, 0, 0, 0.3);">
    <h1 class="about" style="text-align: center;">About &nbsp; Us</h1>
</div>

<br> 
<h5 style="text-align: center;" >
  For us, it's not just about bringing you good food. It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
</h5>

<hr>

<h2>Our Mission</h2>
<h6>
<p>"Bringing good food into your everyday. That's our mission.</p>
<p>That means we don't just deliver--we bring it, always going the extra mile to make your experience memorable.</p>
<p>And it means this is delicious food you can enjoy everyday: from vibrant Chole Bhature for healthy & fresh office lunches, to indulgent family-sized pizza's, to perfect Lasagna for a romantic night in. Whatever you crave, we can help."</p>
</h6>

<hr>

<h2 style="text-align:center">Our Team</h2>

</div>
  <div class="column" >
    <div class="card">
      <div class="container">
        <h2>Yash Vasani</h2>
        <p>yashvasani1@student.sfit.ac.in</p>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRrkqgxKzspVCMPWCJJjbRVsLTdhhxvWsMvsTKMfRCmJthNZzdVQWxZjSgDnSmMpJfCmBXG" target="_blank">
          <p>
            <button class="button">Contact</button>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jeet Vartak</h2>
        <p>jeetvartak28@student.sfit.ac.in</p>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTLHGKgNjPqjjrKLcxTQkZMvTrwFTbNTScwVnpxzCPjvQppBVqbQTkDlZKMQlcXQdJCwSV" target="_blank">
          <p>
            <button class="button">Contact</button>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Parth Magiya</h2>
        <p>parthmagiya@student.sfit.ac.in</p>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRvwLxTGwVVLlHzGjjTsTnktTQxGRvsjFpLlXlkljfDzvfrxVLzlPxRLFrrVgxMltZtJMFg" target="_blank">
          <p>
            <button class="button">Contact</button>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Chaithanya Madhu</h2>
        <p>chaithanya@student.sfit.ac.in</p>
        <a href="https://mail.google.com/mail/u/1/#inbox?compose=DmwnWrRqhBnvWsjPfhBNRqSJnxDJJqvrgVPXPgxjlWLzGLpRQXxxKszCHQqmDQXddZGRKpZkTDTQ" target="_blank">
          <p>
            <button class="button">Contact</button>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



</body>
</html>


{% endblock content %}