<!DOCTYPE html>
{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare. com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap" rel="stylesheet">
  </head>
<body>


  <div class="about-section" style="background-image:url('/static/images/cover.jpg');height:250px; box-shadow: 8px 4px 16px 8px rgba(0, 0, 0, 0.3);">
    <h1 class="about" style="text-align: center;">Contact</h1>
  </div>

  <br>

  <h5 style="text-align: center;" >Feel free to get in touch with Us. For any Enquiry and Issue Contact Us on Mail/Helpline No./Whatsapp/Instagram/Twitter. We are always there to help you.</h5>

  <hr>
  <br>

  <ul style="line-height: 2">
    <i class="fa fa-envelope-o" style="text-align: left; font-size:24px; color: red;"></i>
      <li style="text-align: left; font-size:24px"> Mail: <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCKCBBkHpJjrrSwjNSphLKGVKZKRxJdqjSFcHCdHGpMtRMRxLMrXdbqLWpxnrhPQZqjJgXVV" target="_blank" title="For Enquiry and Any Issue">customercare@appetite.com</a></li><br>

    <i class="fa fa-phone" style="text-align: left; font-size:24px;"></i>
      <li style="text-align: left; font-size:24px;"> Help line: <a href="tel:1800 1080 1008" title="Call us"> 1800-1080-1008</a></li><br>

    <i class="fa fa-whatsapp" style="text-align: left; font-size:24px; color: green;"></i>
      <li style="text-align: left; font-size:24px;"> Whatsapp: <a href="https://wa.link/28o135" target="_blank" title="Give us text on Whatsapp"> +91 8286705933</a></li><br>

    <i class="fa fa-instagram" id="insta" style=" font-size: 24px;"></i>
      <li style="text-align: left; font-size:24px;"> Instagram: <a href="https://www.instagram.com/appetite/" target="_blank" title="Follow us on Instagram"> @Appetite</a></li><br>

    <i class="fa fa-twitter" style=" font-size: 24px;  color: cyan"></i>
    <li style="text-align: left; font-size:24px;"> Twitter: <a href="https://twitter.com/appetit_ke" target="_blank" title="Follow us on Twitter"> @Appetit_ke </a></li><br>
  </ul>

<br>
<hr>
<br>

<h1 style="text-align: center;" > Your FeedBack is always appreciate!</h1>

</body>
</html>


{% endblock content %}