{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="about-section" style="background-image:url('/static/images/cover.jpg');height:250px; box-shadow: 8px 4px 16px 8px rgba(0, 0, 0, 0.3);">
    <h1 class="about" style="text-align: center;">Privacy &nbsp; Policy</h1>
</div>
</body>
</html>

{% endblock content %}